[submodule "bldc-tool"]
	path = bldc-tool
	url = git@github.com:vedderb/bldc-tool.git
[submodule "catkin_ws/src/racecar"]
	path = catkin_ws/src/racecar
	url = git@github.com:mit-racecar/racecar.git
[submodule "catkin_ws/src/vesc"]
	path = catkin_ws/src/vesc
	url = git@github.com:mit-racecar/vesc.git
[submodule "autoware"]
	path = autoware
	url = git@github.com:autowarefoundation/autoware.git
